/* Recipes styles */
.recipe-item {
    color: #F2EFE9;
    margin: 12px 0;
    padding: 1rem !important;
    overflow: hidden;
    box-shadow: 4px 4px 11px 0 rgba(0,0,0,0.28);
    border-radius: 9px;
    text-align: left;
    background: #904E55;
}

.recipe-item .recipe-img {
    margin-bottom: 15px;
    max-width: 100%;
    border-radius: 9px;
    border: solid 3px #F2EFE9;
    height: auto;
}

.recipe-text{
    margin: 0 7px 0 10px;
}

.recipe-text .recipe-title {
    font-size: 21px;
}

.recipe-text .recipe-author {
    font-size: 14px;
}

.recipe-author span {
    color: #cfccc7 !important;
    font-style: italic;
}