/* General styles */
body {
    background: #F2EFE9;
    font-family: 'Noto Serif', serif;
    color: #904E55;
}

img {
    width: 100%;
    height: 220px;
}

a {
    color: #e74c3c !important;
}

.app {
    text-align: center;
}

.app-header {
    margin: 1.5em 0 3em;
}

.app-title {
    font-size: 5.5em;
    font-family: 'Soleil', serif;
    margin-bottom: 10px;
}

.app-subtitle {
    font-size: 1em;
    font-family: 'Noto Serif', serif;
}

/* Usage of custom font*/
@font-face {
    font-family: "Soleil";
    src: url("../../fonts/Route_Du_Soleil.otf");
}

/* Search loader */
.search-loader {
    width: 80px;
    height: 80px;
    margin: 30px auto;
    background-color: #904E55;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 0.8s infinite ease-in-out;
    animation: sk-scaleout 0.8s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}
